* {
    border: 1px solid red;
}
body{
  margin: 0; 
}



html{
    scroll-behavior: smooth;
}
.header{
background-color: blueviolet; 
display: flex; 
justify-content: space-between;
align-items: center;
position: fixed;
top: 0;
left: 0;
right: 0;
}
.logo{
    width: 60 px;
    height: 60 px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{}
.menu ul {
   display: flex;
   gap: 8px;
   list list-style: none;
    margin: 0;
    padding: 0;
}
.menu li{
   
}
.menu a
{ 
    display: block;
    text-decoration: none;
    color: azure;
    padding:3 px 7px;
    border-radius: 50%;
}  
.menu a:hover{
    background-color: aqua;
}
.section
{
height: 90vh;
border: 1px solid red;
}