body {
  background-color: #00ff91;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.center {
  text-align: center;
  padding: 0 0 20px 0;
  /* 
    border: red 1px solid;
    margin: 0 0 40px 0; 
    */

}

h1 {
  color: #228b22;
  font-size: 40px;
}
h2 {
  color: #228b22;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

.fancy-font {
  font-family: "Pacifico", cursive;
}

h3 {
  border-top: #003e00 10px dotted;
  padding-top: 20px;
}
a {
  color: aliceblue;
  background-color: #003e00;
  text-decoration: none;
}
a:hover {
  color: red;
}
