body {
  background-color: #00ff918b;
  background-image: url("../images/Untitled.jpg");
  
  background-size: cover;
  /* filter: blur(10px); */

  /* background-repeat:inherit; */
  background-attachment: fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-style: italic;
}

.center {
  text-align: center;
  padding: 0 0 20px 0;
  border: rgba(255, 255, 255, 0.454) 10px double;
  margin: 60 60 40px 80;
}

h1 {
  color: #ff0000;
  font-size: 70px;
}
h2 {
  color: #ff0000;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
}

.fancy-font {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
}

h3 {
  border-top: #ffffff 10px dotted;
  padding-top: 10px;
  font-size: 30px;
  color: #ff0000;
}
li {
  font-size: 30px;
  color: #ffffff;
  filter: drop-shadow(10px 5px 5px rgba(255, 0, 0, 0.45));
  list-style-type: circle;
}

a {
  color: aliceblue;
  background-color: #ff8888;
  text-decoration: none;
  font-family: "Amatic SC", sans-serif;
}
a:hover {
  color: red;
}
img {
  filter: drop-shadow(10px 5px 10px rgba(255, 0, 0, 0.45));
}
.rotate {
  display: inline-flex;
  color: #f1f1f1;
  padding: 3px;
  margin: 10px;

 
}
.rotate:hover { 
  animation: rotate 5s linear 0s infinite normal none; 
 } 
@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  font-style: normal;
  color: black;
  line-height: 2;
  
}
.multicol {
  column-count: 3;
  column-rule: 5px dotted coral;
  column-gap: 90px;
}
h5 {
  border-top: rgba(251, 122, 122, 0.614) 10px double;
  padding-top: 10px;
  font-size: 40px;
  color: #ffffff;
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
}
